<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>20171022131027</string>
		<key>value</key>
		<string>bd532992502a62c40a741ec76423198d88d5a4f3</string>
		<key>reference</key>
		<string>Voorbeeld-01</string>
		<key>items</key>
		<array>
			<dict>
				<key>quantity</key>
				<string>3</string>
				<key>name</key>
				<string>Soda LIGHT 33 CL.</string>
				<key>price</key>
				<string>6.6</string>
				<key>vatSign</key>
				<string>A</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>2</string>
				<key>name</key>
				<string>Spaghetti Bolognaise (KLEIN)</string>
				<key>price</key>
				<string>10</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>0.527</string>
				<key>name</key>
				<string>Salad Bar (kg)</string>
				<key>price</key>
				<string>8.53</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>Steak Haché</string>
				<key>price</key>
				<string>14.5</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>2</string>
				<key>name</key>
				<string>Koffie verkeerd medium</string>
				<key>price</key>
				<string>6</string>
				<key>vatSign</key>
				<string>A</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>Dame Blanche</string>
				<key>price</key>
				<string>7</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>-1</string>
				<key>name</key>
				<string>Soda LIGHT 33 CL</string>
				<key>price</key>
				<string>-2.2</string>
				<key>vatSign</key>
				<string>A</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1.25</string>
				<key>name</key>
				<string>Huiswijn (liter)</string>
				<key>price</key>
				<string>12.5</string>
				<key>vatSign</key>
				<string>A</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>20171022131234</string>
		<key>value</key>
		<string>4c89d047fe03a07d719f2b923ae871354d088b88</string>
		<key>reference</key>
		<string>Menukorting-01</string>
		<key>items</key>
		<array>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>LENTEMENU</string>
				<key>price</key>
				<string>30</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>20171022131304</string>
		<key>value</key>
		<string>046bfc9425c488b9fe31b78820c21a70ae28005a</string>
		<key>reference</key>
		<string>Menukorting-02</string>
		<key>items</key>
		<array>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>DAGSOEP</string>
				<key>price</key>
				<string>5</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>SEIZOENSSUGGESTIE</string>
				<key>price</key>
				<string>20</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>CRÈME BRULÉE</string>
				<key>price</key>
				<string>5</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>20171022131754</string>
		<key>value</key>
		<string>6027f5aee7940d19c1d1d0b54b549209587bad00</string>
		<key>reference</key>
		<string>Menukorting-03</string>
		<key>items</key>
		<array>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>DAGSOEP</string>
				<key>price</key>
				<string>7</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>SEIZOENSSUGGESTIE</string>
				<key>price</key>
				<string>25</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>CRÈME BRULÉE</string>
				<key>price</key>
				<string>7</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>KORTING LENTEMENU</string>
				<key>price</key>
				<string>-9</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>20171022131924</string>
		<key>value</key>
		<string>fe1cb18cf32aa56487a06f3d2b132a136634cc1d</string>
		<key>reference</key>
		<string>Menukorting-04</string>
		<key>items</key>
		<array>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>LENTEMENU DRANK INCL.</string>
				<key>price</key>
				<string>40</string>
				<key>vatSign</key>
				<string>A</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>20171022132554</string>
		<key>value</key>
		<string>8fe9c0499b389ff831e3c5f7854960d26f564dea</string>
		<key>reference</key>
		<string>Menukorting-05</string>
		<key>items</key>
		<array>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>LENTEMENU FOOD</string>
				<key>price</key>
				<string>26</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>LENTEMENU DRINKS</string>
				<key>price</key>
				<string>14</string>
				<key>vatSign</key>
				<string>A</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>20171022132842</string>
		<key>value</key>
		<string>095452a3e62d36b5255b18b1070f6832f0c57a85</string>
		<key>reference</key>
		<string>Menukorting-06</string>
		<key>items</key>
		<array>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>DAGSOEP</string>
				<key>price</key>
				<string>7</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>SEIZOENSSUGGESTIE</string>
				<key>price</key>
				<string>25</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>CRÈME BRULÉE</string>
				<key>price</key>
				<string>7</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>KORTING LENTEMENU</string>
				<key>price</key>
				<string>-9</string>
				<key>vatSign</key>
				<string>B</string>
			</dict>
			<dict>
				<key>quantity</key>
				<string>1</string>
				<key>name</key>
				<string>LENTEMENU DRINKS</string>
				<key>price</key>
				<string>10</string>
				<key>vatSign</key>
				<string>A</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
